.vs/
build/
artifacts/
packages/
vcpkg/
BLUESPAWN-client/external/
BLUESPAWN-client/resources/severe
BLUESPAWN-client/resources/indicators
BLUESPAWN-client/resources/BLUESPAWN-client.aps
*.user
*.filters
*.cache
*.bak
*.lib
