[submodule "BLUESPAWN-client/external/cxxopts"]
	path = BLUESPAWN-client/external/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "BLUESPAWN-client/external/krabsetw"]
	path = BLUESPAWN-client/external/krabsetw
	url = https://github.com/microsoft/krabsetw
[submodule "BLUESPAWN-client/external/pe-sieve"]
	path = BLUESPAWN-client/external/pe-sieve
	url = https://github.com/hasherezade/pe-sieve
