[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/Microsoft/vcpkg.git
[submodule "BLUESPAWN-win-client/external/pe-sieve"]
	path = BLUESPAWN-win-client/external/pe-sieve
	url = https://github.com/Jack-McDowell/pe-sieve
[submodule "BLUESPAWN-win-client/external/yara-rules"]
	path = BLUESPAWN-win-client/external/yara-rules
	url = https://github.com/Jack-McDowell/rules
[submodule "BLUESPAWN-win-client/external/signature-base"]
	path = BLUESPAWN-win-client/external/signature-base
	url = https://github.com/Jack-McDowell/signature-base
[submodule "BLUESPAWN-win-client/external/tinyxml2"]
	path = BLUESPAWN-win-client/external/tinyxml2
	url = https://github.com/Jack-McDowell/tinyxml2
