.vs/
build/
artifacts/
packages/
vcpkg/
BLUESPAWN-client/external/
BLUESPAWN-client/resources/severe
BLUESPAWN-client/resources/severe2
BLUESPAWN-client/resources/indicators
*.user
*.filters
*.cache
*.bak
*.lib
*.aps
*.lock
docs/db.sqlite3
__pycache__/
