<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends 'BLUESPAWN/base.html' %} {% block title %}About{% endblock %} {% block content %} {% load bootstrap4%} {% load static %}
  <div class="container">
    <div class="row">
      <div class="col-12 mb-12">
        <h1>Getting Started with BLUESPAWN</h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <blockquote>
          <p><span class="badge badge-warning">Note!</span> BLUESPAWN is under active <em>alpha</em> development, so many features may not work as expected yet and detections may be too narrow scope or generate lots of false positives.</p>
          <p><span class="badge badge-warning">Note 2!</span>  BLUESPAWN is meant to be run by a security professional in most cases and as such, will detect on non-malicious activity sometimes. While BLUESPAWN helps to quickly surface potentially bad things, it expects the user to use the
          available information to make the final determination.</p>
        </blockquote>
        <ol>
          <li>Download the latest release from <a href="https://github.com/ION28/BLUESPAWN/releases">this page</a>
          </li>
          <li>Open an Administrative Command Prompt</li>
          <li>Run the following command to see the available options
            <pre><code class="lang-cmd">.\BLUESPAWN-client-x64.exe --help
</code></pre>
          </li>
        </ol>
        <h3 id="mitigate-mode">Mitigate Mode</h3>
        <ol>
          <li>Run the following from your Administrative Command Prompt to audit your system for the presence of many security settings
            <pre><code class="lang-cmd"><span class="hljs-string">.</span><span class="hljs-comment">\BLUESPAWN-client-x64.exe --mitigate --action=audit</span>
</code></pre><img width="100%" alt="BLUESPAWN in Action-Mitigate"
                src="https://user-images.githubusercontent.com/3931697/89669848-25e69900-d8ae-11ea-836d-1618d7377211.png">
          </li>
        </ol>
        <h3 id="hunt-mode">Hunt Mode</h3>
        <ol>
          <li>Run BLUESPAWN from the Administrative Command Prompt to hunt for malicious activity on the system
            <pre><code class="lang-cmd"><span class="hljs-string">.</span><span class="hljs-comment">\BLUESPAWN-client-x64.exe --hunt -a Cursory --log=console,xml</span>
</code></pre><img width="100%" alt="BLUESPAWN in Action-Hunt"
                src="https://user-images.githubusercontent.com/3931697/89669912-4878b200-d8ae-11ea-967b-03318468d711.png">
          </li>
        </ol>
        <h3 id="hunt-mode">Monitor Mode</h3>
        <ol>
          <li>Run BLUESPAWN from the Administrative Command Prompt to monitor for malicious activity on the system
            <pre><code class="lang-cmd"><span class="hljs-string">.</span><span class="hljs-comment">\BLUESPAWN-client-x64.exe --monitor -a Cursory --log=console,xml</span>
</code></pre><img width="100%" alt="BLUESPAWN in Action-Monitor"
                src="https://user-images.githubusercontent.com/3931697/89670008-752cc980-d8ae-11ea-8490-1e0473d5f3c6.png">
          </li>
        </ol>
      </div>
    </div>
  </div>{% endblock %}
</body>
</html>
