name: BLUESPAWN-agent Test Build Success

on:
  pull_request:
    branches:
    - master
    - develop

jobs:
  build:

    runs-on: windows-2016
    
    steps:
    - uses: actions/checkout@v1

    - name: Run a one-line script
      run: echo Hello, world!

    - name: MSBuild BLUESPAWN-agent
      run: |
        call build-agent.bat
