name: BLUESPAWN-agent Test Build Success

on:
  pull_request:
    branches:
    - master
    - develop

jobs:
  build:

    runs-on: windows-2016
    
    steps:
    - uses: actions/checkout@v1

    - name: Run a one-line script
      run: echo Hello, world!

    - name: find msbuild
      run: |
        dir "C:\Program Files (x86)\Microsoft Visual Studio\2019\" /s
