name: BLUESPAWN agent build

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
    - develop

jobs:
  build:

    strategy:
      matrix:
        buildtype: [Release, Debug]

    runs-on: windows-2019

    steps:
    - uses: actions/checkout@v1
    
    - name: Update submodules
      run: git submodule update --init --recursive

    - name: Build BLUESPAWN-agent
      working-directory: BLUESPAWN-agent
      run: |
        "%ProgramFiles(x86)%\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin\MSBuild.exe" BLUESPAWN-agent.sln /p:Configuration=${{ matrix.buildtype }}

    - uses: actions/upload-artifact@master
      with:
        name: BLUESPAWN-agent-${{ matrix.buildtype }}
        path: BLUESPAWN-agent\artifacts\x64\${{ matrix.buildtype }}\BLUESPAWN.exe
