name: BLUESPAWN-agent Test Build Success

on:
  pull_request:
    branches:
    - master
    - develop

jobs:
  build:

    runs-on: windows-2019
    
    steps:
    - uses: actions/checkout@v1

    - name: Run a one-line script
      run: echo Hello, world!

    - name: find msbuild
      working-directory: BLUESPAWN-agent
      run: "%ProgramFiles(x86)%\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin\MSBuild.exe" BLUESPAWN-agent.sln
