name: BLUESPAWN client build

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
    - develop

jobs:
  build:

    strategy:
      matrix:
        buildtype: [Release, Debug]
        buildarch: [x64, x86]

    runs-on: windows-2019

    steps:
    - uses: actions/checkout@v1

    - name: Update submodules
      run: git submodule update --init --recursive --remote

    - name: Build BLUESPAWN-client
      run: |
        "%ProgramFiles(x86)%\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin\MSBuild.exe" BLUESPAWN.sln /p:Configuration=${{ matrix.buildtype }} /p:PlatformTarget=${{ matrix.buildarch }}
      shell: cmd

    - uses: actions/upload-artifact@master
      with:
        name: BLUESPAWN-client-${{ matrix.buildarch }}-${{ matrix.buildtype }}
        path: artifacts\${{ matrix.buildarch }}\${{ matrix.buildtype }}\BLUESPAWN-client.exe
