name: BLUESPAWN-agent Test Build Success

on:
  push:
    branches:
      - *

jobs:
  build:

    runs-on: windows-2016
    
    steps:
    - uses: actions/checkout@v1

    - name: Run a one-line script
      run: echo Hello, world!

    - name: Setup MSBuild.exe
      uses: warrenbuckley/Setup-MSBuild@v1

    - name: MSBuild
      working-directory: BLUESPAWN-agent
      run: msbuild BLUSPAWN-agent.sln
