name: BLUESPAWN-agent Test Build Success

on:
  pull_request:
    branches:
    - master
    - develop

jobs:
  build:

    runs-on: windows-2019
    
    steps:
    - uses: actions/checkout@v1
    
    - name: Update submodules
      run: git submodule update --init --recursive

    - name: Build BLUESPAWN-agent
      working-directory: BLUESPAWN-agent
      run: |
        "%ProgramFiles(x86)%\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin\MSBuild.exe" BLUESPAWN-agent.sln /p:Configuration=Release
